<!--
home admin
-->
<!DOCTYPE html>
<html lang=it xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Admin | Pannello di Controllo')"></head>
<body>

    <!-- navbar -->
    <header th:replace="fragments/baseadmin.html :: navbar-admin"></header>
    <!-- -->

    <h1>Gestisci i servizi.</h1>
    <a href="buffetForm.html" th:href="@{/buffetForm}"><button>Aggiungi un nuovo buffet</button></a>
    <button>Modifica un servizio.</button>
    <button>Elimina un servizio.</button>
    <button>Visualizza tutti i servizi disponibili.</button>

    <!-- footer -->
    <footer th:replace="fragments/base.html :: footer-base"></footer>
    <!-- -->
</body>
</html>