<!DOCTYPE html>
<html lang=it xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Admin | Pannello di Controllo')">
</head>
<body>
    <div class="add-form-bg-container">
        <!-- navbar -->
        <header th:replace="fragments/baseadmin.html :: navbar-admin"></header>
        <!-- -->

        <!-- form new ingrediente -->
        <div class="add-flex-container">
            <div class="container">
                <form method="POST" th:action="@{/new/ingrediente}" th:object="${ingrediente}">
                    <!-- riquadro errori -->
                    <div class="error-container" th:if="${#fields.hasAnyErrors()}">
                        <div class="error-danger">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                            </ul>
                        </div>
                    </div>
                    <!-- -->
                    <div class="add-form-container">
                        <div class="form-title">
                            Aggiungi un nuovo ingrediente
                        </div>
                        <input type="hidden" th:field="*{id}" />
                        <div class="form-input">
                            <span>Nome:</span>
                            <input type="text" th:field="*{nome}" placeholder="Inserisci il nome">
                        </div>
                        <div class="form-input">
                            <span>Origine:</span>
                            <select th:field="${ingrediente.origine}" style="height: 5vh; width: 100%">
                                <option th:each="nazione : ${nazioni}"
                                        th:value="${nazione.id}"
                                        th:text="${nazione.nome}">
                                </option>
                            </select>
                        </div>
                        <div class="form-input">
                            <span>Descrizione:</span>
                            <textarea class="desc" th:field="*{descrizione}" placeholder="Inserisci una descrizione"></textarea>
                        </div>
                        <div class="form-input">
                            <span>Piatto:</span>
                            <select name="piatto" style="height: 5vh; width: 100%">
                                <option th:each="piatto : ${listPiatti}"
                                        th:value="${piatto.id}"
                                        th:text="${piatto.nome}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- end buffet form container-->
                    <div class="btn-container">
                        <div class="form-btn">
                            <button name="create" id="create">Conferma</button>
                        </div>
                        <div class="form-btn">
                            <button type="reset">Cancella</button>
                        </div>
                        <div class="form-btn">
                            <a th:href="@{/admin/controlpanel}"> <button>Indietro</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end form new buffet -->
    </div>
    <!-- footer -->
    <footer th:replace="fragments/base.html :: footer-base"></footer>
    <!-- -->
</body>
</html>