<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <meta charset="UTF-8"/>
    <link rel="icon" href="/images/r3-ico.ico" th:href="@{/images/r3-ico.ico}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3bcc05e06e.js" crossorigin="anonymous"></script>
    <title th:text="${title}"></title>
</head>
<body>
<!-- ##################################################
################# HEADER ##############################
####################################################-->
<header th:fragment="navbar">
    <div class="navbar">
        <div class="nav-container flex">
            <div id="nav-logo">
                <a href="" th:href="@{/}"><img src="/images/r3-logo-v1.png" th:src="@{/images/r3-logo-v1.png}" alt="logo"></a>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/buffets}">Buffets</a></li>
                    <li><a th:href="@{/contacts}">Contatti</a></li>
                    <li><a th:href="@{/register}">Registrati</a></li>
                </ul>
            </nav>
            <a href="login.html" th:href="@{/login}" class="btn-login"><button>Login</button></a>
        </div>
    </div>
</header>
<!-- ################################################## -->
<!-- footer -->
<footer th:fragment="footer-base">
    <div class="footer-container">
        <div class="footer">
            <div class="col-1">
                <h3>Link utili</h3>
                <a th:href="@{/}">Home</a>
                <a th:href="@{/buffets}">Buffets</a>
                <a th:href="@{/contacts}">Contatti</a>
                <a href="">Termini e Condizioni</a>
            </div>
            <div class="col-2">
                <h3>Newsletter</h3>
                <form>
                    <input type="email" placeholder="Inserisci la tua email"><br>
                    <button type="submit">Iscriviti</button>
                </form>
            </div>
            <div class="col-3">
                <h3>Social</h3>
                <a href=""><i class="fa-brands fa-facebook-f fa-xl"></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp fa-xl"></i></a>
            </div>
        </div>
        <div class="disclaimer">
            Copyright © 2022 R3 Catering by Daniel Checchia. All rights reserved.
        </div>
    </div>
</footer>
<!-- ################################################# -->
</body>
</html>