<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/base.html :: headerfiles(title='R3 Catering | Buffets')"></head>
<body>
<div class="header-buffets-container">
    <!-- navbar -->
    <header th:replace="fragments/basedefault.html :: navbar-user"></header>
    <!-- -->
    <div class="buffets-banner-content">
        <h1 id="buffets-banner-title">Buffets</h1>
    </div>
</div>

<div class="buffet-collection-container">
    <div class="buffet-info-container">
        <div class="circle-img-container">
            <img th:src="@{/images/buffet/0/buffet-id0.jpg}">
        </div>
        <div class="buffet-main-title">
            Buffet0
        </div>
        <div class="buffet-info-content">
            Chef: <span>Chef0</span>
            <button>Metti nei preferiti</button>
        </div>
    </div>
    <div class="buffet-info-container">
        <div class="circle-img-container">

        </div>
        <div class="buffet-main-title">
            $Titolo
        </div>
        <div class="buffet-info-content">

        </div>
    </div>
    <div class="buffet-info-container">
        <div class="circle-img-container">

        </div>
        <div class="buffet-main-title">
            $Titolo
        </div>
        <div class="buffet-info-content">

        </div>
    </div>
    <div class="buffet-info-container">
        <div class="circle-img-container">

        </div>
        <div class="buffet-main-title">
            $Titolo
        </div>
        <div class="buffet-info-content">

        </div>
    </div>
    <div class="buffet-info-container">
        <div class="circle-img-container">

        </div>
        <div class="buffet-main-title">
            $Titolo
        </div>
        <div class="buffet-info-content">

        </div>
    </div>
    <div class="buffet-info-container">
        <div class="circle-img-container">

        </div>
        <div class="buffet-main-title">
            $Titolo
        </div>
        <div class="buffet-info-content">

        </div>
    </div>
</div>

<!-- footer -->
<footer th:replace="fragments/base.html :: footer-base"></footer>
<!-- -->
</body>
</html>