<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/base.html :: headerfiles(title='R3 Catering | Buffet')"></head>
<body>
    <div class="header-buffets-container">
        <!-- navbar -->
        <div th:if="${session.role == 'ADMIN'}">
            <header th:replace="fragments/baseadmin.html :: navbar-admin"></header>
        </div>
        <div th:if="${session.role == 'DEFAULT'}">
            <header th:replace="fragments/basedefault.html :: navbar-user"></header>
        </div>
        <!-- -->
        <div class="buffets-banner-content">
            <h1 th:text="${buffet.nome}"id="buffets-banner-title"></h1>
            <input type="hidden" th:field="${buffet.id}">
        </div>
    </div>

    <!-- buffet container -->
    <div class="bf-container-flex">
        <!-- img container-->
        <div class="bf-img-container">
            <div class="bf-img">
                <!-- S3
                <img th:src="@{${buffet.photo}}" width="100%" height="100%">-->
                <!-- no S3 -->
                <img th:src="@{${buffet.getPhotoPath()}}" width="100%" height="100%">
            </div>
        </div>
        <!-- end img container-->

        <!-- info container -->
        <div class="bf-info">
            <div class="bf-info-title">
                <span th:text="${buffet.nome}">Nome buffet</span>
            </div>
            <div class="bf-info-description">
                <span th:text="${buffet.descrizione}">Descrizione del buffet</span>
            </div>

            <div class="bf-other-info">
                <div class="bf-chef">
                    <div class="other-info chef">
                        <span class="title">Tipologia:</span>
                        <a href="">
                            <span class="desc" th:text="${buffet.tipologia.nome}">Tipologia</span>
                        </a>
                    </div>
                </div>

                <!-- riquadro chef -->
                <div class="bf-chef">
                    <div class="other-info chef">
                        <span class="title">Chef: </span>
                        <a href="">
                            <span class="desc" th:text="${buffet.chef.nome + ' ' + buffet.chef.cognome}">
                                Chef del buffet
                            </span>
                        </a>
                    </div>
                </div>
                <!-- end riquadro chef -->

                <!-- riquadro piatti -->
                <div class="bf-piatti">
                    <div class="other-info title">
                        <span class="title">Piatti compresi: </span>
                        <div class="piatti-list" th:each="piatto : ${buffet.piatti}">
                            <span class="desc" th:text="${piatto.nome}">Piatti</span>
                        </div>
                    </div>
                </div>
                <!-- end riquadro piatti -->
            </div>


            <div th:if="${session.role == 'ADMIN'}" class="btn-container">
                <button class="disabled" style="background-color: #888888;">Metti nei preferiti</button>
                <a th:href="@{/contacts}"><button type="button">Contattaci subito!</button></a>
            </div>
            <div th:if="${session.role == 'DEFAULT'}" class="btn-container">
                <form method="POST" th:action="@{/newPreferito}" th:object="${buffet}">
                    <input type="hidden" th:field="*{id}">
                    <button type="submit" class="active">Metti nei preferiti</button>
                </form>
                <a th:href="@{/contacts}"><button type="button">Contattaci subito!</button></a>
            </div>
        </div>
        <!-- end info container-->

    </div>
    <!-- end buffet container-->

    <!-- footer -->
    <footer th:replace="fragments/base.html :: footer-base"></footer>
    <!-- -->
</body>
</html>