<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/base.html :: headerfiles(title='R3 Catering | Buffets')"></head>
<body>
    <div class="header-buffets-container">
        <!-- navbar -->
        <div th:if="${session.role == 'ADMIN'}">
            <header th:replace="fragments/baseadmin.html :: navbar-admin"></header>
        </div>
        <div th:if="${session.role == 'DEFAULT'}">
            <header th:replace="fragments/basedefault.html :: navbar-user"></header>
        </div>
        <!-- -->
        <div class="buffets-banner-content">
            <h1 id="buffets-banner-title">Buffet</h1>
        </div>
    </div>

    <!-- if empty -->
    <div class="buffet-collection-container" th:if="${listBuffet.isEmpty()}">
        <div class="empty-list-buffet">
            <h1>Nessun buffet disponibile.</h1>
        </div>
    </div>
    <!-- if empty -->

    <div class="buffet-collection-container" th:unless="${listBuffet.isEmpty()}">
        <div th:each="buffet : ${listBuffet}" class="buffet-info-container">
            <!-- immagine buffet -->
            <div class="circle-img-container">
                <img th:src="@{${buffet.getPhotoPath()}}" width="100%" height="100%" style="border-radius: 50%;">
            </div>

            <!-- nome buffet -->
            <div class="buffet-main-title">
                <span th:text="${buffet.nome}">$Titolo</span></a>
            </div>

            <!-- informazioni buffet -->
            <div class="buffet-info-content">
                <!-- chef buffet -->
                <div class="buffet-chef-container">
                    <span class="label">Chef:</span>
                    <a th:href="@{'/chef/'+${buffet.chef.id}}">
                        <span class="chef-name" th:text="${buffet.chef.nome + ' ' + buffet.chef.cognome}">Nome chef</span>
                    </a>
                </div>

                <!-- tipo buffet -->
                <div class="buffet-type-container">
                    <span class="label">Tipologia:</span>
                    <span class="type-name" th:text="${buffet.tipologia.nome}">Tipologia</span>
                </div>

                <!-- bottone -->
                <div class="btn-container">
                    <a th:href="@{'/buffet' + '/' + ${buffet.id}}"><button type="button">Scopri di più</button></a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/base.html :: footer-base"></footer>
    <!-- -->
</body>
</html>