<!DOCTYPE html>
<html lang=it xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/base.html :: headerfiles(title='R3 Catering | Chi siamo')"></head>
<body>
    <div class="header-chisiamo-container">

        <div sec:authorize="isAnonymous()">
            <header th:replace="fragments/base.html :: navbar"></header>
        </div>

        <!-- navbar -->
        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasAnyAuthority('ADMIN')">
                <header th:replace="fragments/baseadmin.html :: navbar-admin"></header>
            </div>
            <div sec:authorize="hasAnyAuthority('DEFAULT')">
                <header th:replace="fragments/basedefault.html :: navbar-user"></header>
            </div>
        </div>

        <div class="chisiamo-title-container">
            <div class="chisiamo-banner-content">
                <h1 id="chisiamo-banner-title">Chi siamo</h1>
            </div>
        </div>
        <!-- -->
    </div>

    <div class="chisiamo-container">
        <!-- logo -->
        <div class="img-logo-container">
            <img th:src="@{/images/logos/r3-logo-dark.png}" src="../static/images/logos/r3-logo-dark.png">
        </div>

        <!-- descrizione -->
        <div class="chisiamo-desc-container">
            R3 Catering, un team giovane che ha deciso di mettere in gioco tutta la propria competenza
            nell'alimentazione per poter offrire al cliente la migliore esperienza possibile.<br>
            <br>
            <div class="desc-title">
                <h2><strong>Personale altamente qualificato</strong></h2>
            </div>
            <div class="desc-content">
                Il nostro team altamente qualificato si occuperà della progettazione ed esecuzione del lavoro.<br>
                <br>
            </div>
            <div class="desc-title">
                <h2><strong>Genuinità e qualità</strong></h2>
            </div>
            <div class="desc-content">
                La genuinità dei nostri prodotti, la cura per ogni dettaglio, il servizio altamente professionale
                e tutto ciò che ci caratterizza e ci contraddistingue. Vogliamo deliziare i nostri clienti, ascoltare
                ogni desiderio e farli diventare realtà.<br>
                <br>
            </div>
            <div class="desc-title">
                <h2><strong>Con voi in ogni occasione speciale</strong></h2>
            </div>
            <div class="desc-content">
                R3 Catering vi accompagnerà nelle vostre occasioni speciali: i nostri esperti sono pronti ad ascoltare i
                vostri desideri, a guidarvi nella scelta dei nostri piatti prelibati.<br>
                Sarà un momento indimenticabile.
            </div>
        </div>

        <!-- img -->
        <div class="team-container"></div>
    </div>

    <!-- footer -->
    <footer th:replace="fragments/base.html :: footer-base"></footer>
    <!-- -->
</body>
</html>