<!DOCTYPE html>
<html lang=it xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='R3 Catering | Il tuo profilo')"></head>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<body>
    <div class="user-profile-container">
        <!-- navbar -->
        <header th:replace="fragments/basedefault.html :: navbar-user"></header>
        <!-- -->

        <!-- container account info -->
        <div class="account-flex-container flex">
            <div class="info-container">
                <div class="photo-side">
                    <div class="user-image">
                        <img th:if="${credentials?.photo == null}" th:src="@{/images/blank-user.png}" alt="blank-user" id="blank-user">
                        <h1>Ciao <span th:text="${credentials?.user.nome}"></span> !</h1>
                    </div>
                </div>
                <div class="info-side">

                    <!-- inizio form -->
                    <form method="POST" th:action="@{/update/info/user}" th:object="${credentials}" enctype="multipart/form-data">

                        <!-- riquadro errori -->
                        <div class="error-container" th:if="${#fields.hasAnyErrors()}">
                            <div class="error-danger">
                                <ul>
                                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                                </ul>
                            </div>
                        </div>
                        <!-- -->

                        <!-- id user hidden -->
                        <input type="hidden" th:value="*{id}">

                        <div class="info-field">
                            <span class="info-label">Foto profilo: </span>
                            <div class="form-input">
                                <input type="file" th:name="image" name="image" accept="image/png, image/jpeg, image/jpg"/>
                            </div>
                        </div>

                        <div class="info-field">
                            <span class="info-label">Nome:</span>

                            <div class="form-input">
                                <input type="text" readonly th:field="${user.nome}" th:value="${user.nome}">
                            </div>

                        </div>

                        <div class="info-field">
                            <span class="info-label">Cognome:</span>
                            <div class="form-input">
                                <input type="text" readonly th:field="${user.cognome}" th:value="${user.cognome}">
                            </div>
                        </div>

                        <div class="info-field">
                            <span class="info-label">E-mail:</span>
                            <div class="form-input">
                                <input type="email" name="email" id="email"
                                    th:value="${user.email}" th:field="${user.email}">
                            </div>
                        </div>

                        <div class="info-field">
                            <span class="info-label">Telefono:</span>
                            <div th:if="${credentials?.user.telefono == null}">
                                <div class="form-input">
                                    <input type="text" name="telefono"
                                           th:field="${user.telefono}">
                                </div>
                            </div>
                            <div th:unless="${credentials?.user.telefono == null}">
                                <div class="form-input">
                                    <input type="text" name="telefono"
                                        th:value="${user.telefono}" th:field="${user.telefono}">
                                </div>
                            </div>
                        </div>

                        <div class="info-field">
                            <span class="info-label">Indirizzo:</span>

                            <div th:if="${credentials?.user.indirizzo == null}">
                                <div class="form-input">
                                    <input type="text" name="indirizzo"
                                           th:field="${user.indirizzo}">
                                </div>
                            </div>

                            <div th:unless="${credentials?.user.indirizzo == null}">
                                <div class="form-input">
                                    <input type="text" name="indirizzo"
                                           th:value="${user.indirizzo}" th:field="${user.indirizzo}">
                                </div>
                            </div>
                        </div>

                        <div class="info-field">
                            <span class="info-label">Città:</span>
                            <div th:if="${credentials?.user.citta == null}">
                                <div class="form-input">
                                    <input type="text" name="citta"
                                           th:field="${user.citta}">
                                </div>
                            </div>

                            <div th:unless="${credentials?.user.citta == null}">
                                <div class="form-input">
                                    <input type="text" name="citta"
                                           th:value="${user.citta}" th:field="${user.citta}">
                                </div>
                            </div>
                        </div>

                        <div class="info-field">
                            <span class="info-label">Username:</span>
                            <div class="form-input">
                                <input type="hidden" name="username" th:value="${credentials.username}"
                                       th:field="${credentials.username}" readonly>
                            </div>
                        </div>

                        <div class="info-field">
                            <span class="info-label">Password:</span>
                            <div class="form-input">
                                <input type="hidden" name="password" th:field="${credentials.password}">
                            </div>
                        </div>


                        <div class="btn-container">
                            <div class="form-btn">
                                <button type="submit">Conferma</button>
                            </div>
                            <div class="form-btn">
                                <a th:href="@{/user}"><button>Indietro</button></a>
                            </div>
                        </div>

                    </form>
                    <!-- fine form -->

                </div>
            </div>
        </div>
        <!-- -->
    </div>
    <!-- footer -->
    <footer th:replace="fragments/base.html :: footer-base"></footer>
    <!-- -->
</body>
</html>